<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:void(0);" title="{{title}}">
            <img alt="Arun Thakur" src="/app/content/logo.png">
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills navbar-right">
          <li>
            <a [routerLink]="['/']" routerLinkActive="active" role="presentation" class="active">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
          </li>
          <li> <a [routerLink]="['/about']" routerLinkActive="active" role="presentation">About</a></li>
          <li><a [routerLink]="['/cv']" routerLinkActive="active" role="presentation">CV</a></li>
          <li> <a [routerLink]="['/contact']" routerLinkActive="active" role="presentation">Contact Me</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container portal">
  <router-outlet></router-outlet>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
    </div>
  </div>
</nav>